body {

    background-color: rgb(227, 202, 137);
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    align-items: center;
    margin: 50px;
}
h1 {
    color: rgb(129, 7, 7);
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;
}
h2 {
    color: rgb(129, 7, 7);
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;
}
p{
    color: rgb(63, 27, 2);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;   
}
img{
    width: 250px;
    display:block;
    margin: 0 auto;
}
h3{
    color:brown;
    font-size: 40 pix;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;   
}
img {
    border: 4px solid #510606;
    border-radius: 12px;
    padding: 4px;
}